@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #resume {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
